# Getting Started with Python

## Time Series Data : Analysing Stocks

#### __Author__ : Your Name

#### __Date__: 16/3/2022


### Resources

Download the dataset and move it to your working directory.

If you want to know your working directory just input the following commands:

In [1]:
import os

os.getcwd()

'C:\\Users\\Just Nick\\Desktop\\Time Series'

Make sure the dataset you have downloaded is in the working directory:

In [2]:
os.listdir()

['.ipynb_checkpoints', 'new_daily_prices.csv', 'student_workbook_stocks.ipynb']

### Load the necessary modules

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from datetime import datetime

### Load the data into a DataFrame

We use `pandas.read_csv()`

In [2]:
df = pd.read_csv('new_daily_prices.csv')

In [14]:
df.head()

,Date,Eaagads Ltd Ord 1.25 AIMS,Kakuzi Ord.5.00,Limuru Tea Co. Ltd Ord 20.00,Sasini Ltd Ord 1.00,Williamson Tea Kenya Ltd Ord 5.00,Car and General (K) Ltd Ord 5.00,Absa Bank Kenya PLC,BK Group PLC,Diamond Trust Bank Kenya Ltd Ord 4.00,...,British American Tobacco Kenya Ltd Ord 10.00,Carbacid Investments Ltd Ord 5.00,East African Breweries Ltd Ord 2.00,Eveready East Africa Ltd Ord.1.00,Flame Tree Group Holdings Ltd Ord 0.825,Kenya Orchards Ltd Ord 5.00,Mumias Sugar Co. Ltd Ord 2.00,Unga Group Ltd Ord 5.00,Safaricom PLC Ord 0.05,Stanlib Fahari I-REIT
0,"Thursday, 13 May 2021",15.0,360.00,340.0,18.80,146.75,20.5,8.80,26.0,65.00,...,471.00,10.90,172.25,1.09,1.41,10.4,0.27,31.8,39.40,6.10
1,"Friday, 21 May 2021",15.0,360.00,340.0,18.55,145.00,22.0,9.10,26.0,63.75,...,470.00,10.40,174.00,1.04,1.35,10.4,0.27,28.0,39.50,5.98
2,"Tuesday, 25 May 2021",15.0,360.00,340.0,18.40,145.00,24.2,9.22,26.0,63.25,...,464.75,10.15,181.00,0.99,1.40,10.4,0.27,28.0,42.75,5.96
3,"Monday, 19 July 2021",11.0,372.75,290.0,19.20,152.25,31.0,10.00,28.0,69.00,...,445.00,12.00,187.75,1.04,1.32,10.4,0.27,27.1,42.60,6.66
4,"Tuesday, 27 July 2021",11.5,410.00,280.0,19.95,134.00,35.2,9.74,29.0,66.25,...,469.50,12.05,184.00,1.01,1.33,10.4,0.27,29.0,41.80,6.94

In [6]:
df.tail()

,Date,Eaagads Ltd Ord 1.25 AIMS,Kakuzi Ord.5.00,Limuru Tea Co. Ltd Ord 20.00,Sasini Ltd Ord 1.00,Williamson Tea Kenya Ltd Ord 5.00,Car and General (K) Ltd Ord 5.00,Absa Bank Kenya PLC,BK Group PLC,Diamond Trust Bank Kenya Ltd Ord 4.00,...,British American Tobacco Kenya Ltd Ord 10.00,Carbacid Investments Ltd Ord 5.00,East African Breweries Ltd Ord 2.00,Eveready East Africa Ltd Ord.1.00,Flame Tree Group Holdings Ltd Ord 0.825,Kenya Orchards Ltd Ord 5.00,Mumias Sugar Co. Ltd Ord 2.00,Unga Group Ltd Ord 5.00,Safaricom PLC Ord 0.05,Stanlib Fahari I-REIT
102,"Wednesday, 05 January 2022",12.85,420.0,320.0,19.95,130.75,30.60,11.75,29.50,59.75,...,442.0,10.90,163.75,0.99,1.26,10.4,0.27,27.65,39.55,6.02
103,"Thursday, 06 January 2022",13.80,420.0,320.0,20.25,130.75,33.70,11.80,29.30,60.00,...,442.0,10.90,160.75,0.99,1.29,10.4,0.27,27.65,40.00,6.40
104,"Friday, 07 January 2022",13.80,420.0,320.0,21.25,132.00,37.05,11.80,29.05,60.00,...,442.0,10.90,164.75,0.94,1.30,10.4,0.27,27.65,39.90,6.38
105,"Tuesday, 11 January 2022",13.80,385.0,320.0,20.55,134.75,44.75,11.90,30.75,59.50,...,445.0,10.85,161.00,0.88,1.31,10.4,0.27,27.65,38.45,6.56
106,"Thursday, 13 January 2022",12.90,385.0,320.0,22.20,130.00,54.00,11.80,30.00,59.00,...,440.0,10.80,151.50,0.96,1.34,10.4,0.27,27.10,37.95,6.52

In [3]:
df1 =  pd.read_csv('new_daily_prices.csv', index_col=0)
df1.head()

,Eaagads Ltd Ord 1.25 AIMS,Kakuzi Ord.5.00,Limuru Tea Co. Ltd Ord 20.00,Sasini Ltd Ord 1.00,Williamson Tea Kenya Ltd Ord 5.00,Car and General (K) Ltd Ord 5.00,Absa Bank Kenya PLC,BK Group PLC,Diamond Trust Bank Kenya Ltd Ord 4.00,Equity Group Holdings Ord 0.50,...,British American Tobacco Kenya Ltd Ord 10.00,Carbacid Investments Ltd Ord 5.00,East African Breweries Ltd Ord 2.00,Eveready East Africa Ltd Ord.1.00,Flame Tree Group Holdings Ltd Ord 0.825,Kenya Orchards Ltd Ord 5.00,Mumias Sugar Co. Ltd Ord 2.00,Unga Group Ltd Ord 5.00,Safaricom PLC Ord 0.05,Stanlib Fahari I-REIT
Date,,,,,,,,,,,,,,,,,,,,,
"Thursday, 13 May 2021",15.0,360.00,340.0,18.80,146.75,20.5,8.80,26.0,65.00,40.95,...,471.00,10.90,172.25,1.09,1.41,10.4,0.27,31.8,39.40,6.10
"Friday, 21 May 2021",15.0,360.00,340.0,18.55,145.00,22.0,9.10,26.0,63.75,41.50,...,470.00,10.40,174.00,1.04,1.35,10.4,0.27,28.0,39.50,5.98
"Tuesday, 25 May 2021",15.0,360.00,340.0,18.40,145.00,24.2,9.22,26.0,63.25,42.05,...,464.75,10.15,181.00,0.99,1.40,10.4,0.27,28.0,42.75,5.96
"Monday, 19 July 2021",11.0,372.75,290.0,19.20,152.25,31.0,10.00,28.0,69.00,48.55,...,445.00,12.00,187.75,1.04,1.32,10.4,0.27,27.1,42.60,6.66
"Tuesday, 27 July 2021",11.5,410.00,280.0,19.95,134.00,35.2,9.74,29.0,66.25,48.50,...,469.50,12.05,184.00,1.01,1.33,10.4,0.27,29.0,41.80,6.94

In [4]:
df.set_index('Date',inplace=True)

In [5]:
df.head()

,Eaagads Ltd Ord 1.25 AIMS,Kakuzi Ord.5.00,Limuru Tea Co. Ltd Ord 20.00,Sasini Ltd Ord 1.00,Williamson Tea Kenya Ltd Ord 5.00,Car and General (K) Ltd Ord 5.00,Absa Bank Kenya PLC,BK Group PLC,Diamond Trust Bank Kenya Ltd Ord 4.00,Equity Group Holdings Ord 0.50,...,British American Tobacco Kenya Ltd Ord 10.00,Carbacid Investments Ltd Ord 5.00,East African Breweries Ltd Ord 2.00,Eveready East Africa Ltd Ord.1.00,Flame Tree Group Holdings Ltd Ord 0.825,Kenya Orchards Ltd Ord 5.00,Mumias Sugar Co. Ltd Ord 2.00,Unga Group Ltd Ord 5.00,Safaricom PLC Ord 0.05,Stanlib Fahari I-REIT
Date,,,,,,,,,,,,,,,,,,,,,
"Thursday, 13 May 2021",15.0,360.00,340.0,18.80,146.75,20.5,8.80,26.0,65.00,40.95,...,471.00,10.90,172.25,1.09,1.41,10.4,0.27,31.8,39.40,6.10
"Friday, 21 May 2021",15.0,360.00,340.0,18.55,145.00,22.0,9.10,26.0,63.75,41.50,...,470.00,10.40,174.00,1.04,1.35,10.4,0.27,28.0,39.50,5.98
"Tuesday, 25 May 2021",15.0,360.00,340.0,18.40,145.00,24.2,9.22,26.0,63.25,42.05,...,464.75,10.15,181.00,0.99,1.40,10.4,0.27,28.0,42.75,5.96
"Monday, 19 July 2021",11.0,372.75,290.0,19.20,152.25,31.0,10.00,28.0,69.00,48.55,...,445.00,12.00,187.75,1.04,1.32,10.4,0.27,27.1,42.60,6.66
"Tuesday, 27 July 2021",11.5,410.00,280.0,19.95,134.00,35.2,9.74,29.0,66.25,48.50,...,469.50,12.05,184.00,1.01,1.33,10.4,0.27,29.0,41.80,6.94

In [18]:
df.shape

(107, 60)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 107 entries,  Thursday, 13 May 2021 to  Thursday, 13 January 2022
Data columns (total 60 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Eaagads Ltd Ord 1.25 AIMS                     107 non-null    float64
 1   Kakuzi Ord.5.00                               107 non-null    float64
 2   Limuru Tea Co. Ltd Ord 20.00                  107 non-null    float64
 3   Sasini Ltd Ord 1.00                           107 non-null    float64
 4   Williamson Tea Kenya Ltd Ord 5.00             107 non-null    float64
 5   Car and General (K) Ltd Ord 5.00              107 non-null    float64
 6   Absa Bank Kenya PLC                           107 non-null    float64
 7   BK Group PLC                                  107 non-null    float64
 8   Diamond Trust Bank Kenya Ltd Ord 4.00         107 non-null    float64
 9   Equity Group Holdings Ord 0.50                107 non-null    float64
 10  HF Group Ltd Ord 5.00                         107 non-null    float64
 11  I&M Holdings Ltd Ord 1.00                     107 non-null    float64
 12  KCB Group Ltd Ord 1.00                        107 non-null    float64
 13  National Bank of Kenya Ltd Ord 5.00           107 non-null    float64
 14  NCBA Group PLC                                107 non-null    float64
 15   Stanbic Holdings Plc. ord.5.00               107 non-null    float64
 16  Standard Chartered Bank Ltd Ord 5.00          107 non-null    float64
 17  The Co-operative Bank of Kenya Ltd Ord 1.00   107 non-null    float64
 18  Express Ltd Ord 5.00                          107 non-null    float64
 19  Kenya Airways Ltd Ord 5.00                    107 non-null    float64
 20  Longhorn Publishers Ltd                       107 non-null    float64
 21   Nairobi Business Ventures Ltd                107 non-null    float64
 22  Nation Media Group Ord. 2.50                  107 non-null    float64
 23  Sameer Africa PLC Ord 5.00                    107 non-null    float64
 24  Scangroup  Ltd Ord 1.00                       107 non-null    float64
 25  Standard Group  Ltd Ord 5.00                  107 non-null    float64
 26  TPS Eastern Africa (Serena) Ltd Ord 1.00      107 non-null    float64
 27  Uchumi Supermarket Ltd Ord 5.00               107 non-null    float64
 28  Athi River Mining Ord 5.00                    107 non-null    float64
 29  Bamburi Cement Ltd Ord 5.00                   107 non-null    float64
 30  Crown Paints Kenya PLC. 0rd 5.00              107 non-null    float64
 31  E.A.Cables Ltd Ord 0.50                       107 non-null    float64
 32  E.A.Portland Cement Ltd Ord 5.00              107 non-null    float64
 33  KenGen Ltd  Ord. 2.50                         107 non-null    float64
 34   Kenya Power & Lighting  Co Ltd               107 non-null    float64
 35  Total Kenya Ltd Ord 5.00                      107 non-null    float64
 36  Umeme Ltd Ord 0.50                            107 non-null    float64
 37  Britam Holdings Ltd Ord 0.10                  107 non-null    float64
 38  CIC Insurance Group Ltd Ord 1.00              107 non-null    float64
 39  Jubilee Holdings Ltd Ord 5.00                 107 non-null    float64
 40  Kenya Re-Insurance Corporation Ltd Ord 2.50   107 non-null    float64
 41  Liberty Kenya Holdings Ltd                    107 non-null    float64
 42  Sanlam Kenya PLC 0rd 5.00                     107 non-null    float64
 43  Centum Investment Co Ltd Ord 0.50             107 non-null    float64
 44   Home Afrika Ltd Ord 1.00                     107 non-null    float64
 45  Kurwitu Ventures                              107 non-null    object
 46  Olympia Capital Holdings ltd Ord 5.00         107 non-null    float64
 47  Trans-Century Ltd                             107 non-null    float64
 48  Nairobi Securities Exchange Ltd Ord 4.00      107 non-null    float64
 49  B.O.C Kenya Ltd Ord 5.00                      107 non-null    float64
 50  British American Tobacco Kenya Ltd Ord 10.00  107 non-null    float64
 51  Carbacid Investments Ltd Ord 5.00             107 non-null    float64
 52  East African Breweries Ltd Ord 2.00           107 non-null    float64
 53  Eveready East Africa Ltd Ord.1.00             107 non-null    float64
 54  Flame Tree Group Holdings Ltd Ord 0.825       107 non-null    float64
 55  Kenya Orchards Ltd Ord 5.00                   107 non-null    float64
 56  Mumias Sugar Co. Ltd Ord 2.00                 107 non-null    float64
 57  Unga Group Ltd Ord 5.00                       107 non-null    float64
 58  Safaricom PLC Ord 0.05                        107 non-null    float64
 59  Stanlib Fahari I-REIT                         107 non-null    float64
dtypes: float64(59), object(1)
memory usage: 51.0+ KB

#### Data Cleaning

__Kurwitu Venture Stock__

In [20]:
df.loc[:,'Kurwitu Ventures']

Date
 Thursday, 13 May 2021         1,500.00
 Friday, 21 May 2021           1,500.00
 Tuesday, 25 May 2021          1,500.00
 Monday, 19 July 2021          1,500.00
 Tuesday, 27 July 2021         1,500.00
                                 ...
 Wednesday, 05 January 2022    1,500.00
 Thursday, 06 January 2022     1,500.00
 Friday, 07 January 2022       1,500.00
 Tuesday, 11 January 2022      1,500.00
 Thursday, 13 January 2022     1,500.00
Name: Kurwitu Ventures, Length: 107, dtype: object

In [6]:
df['Kurwitu Ventures'] = df['Kurwitu Ventures'].str.replace(",","")
df['Kurwitu Ventures'].head()

Date
 Thursday, 13 May 2021    1500.00
 Friday, 21 May 2021      1500.00
 Tuesday, 25 May 2021     1500.00
 Monday, 19 July 2021     1500.00
 Tuesday, 27 July 2021    1500.00
Name: Kurwitu Ventures, dtype: object

In [7]:
df['Kurwitu Ventures'].apply(lambda x: x.split('.')[0])

Date
 Thursday, 13 May 2021         1500
 Friday, 21 May 2021           1500
 Tuesday, 25 May 2021          1500
 Monday, 19 July 2021          1500
 Tuesday, 27 July 2021         1500
                               ...
 Wednesday, 05 January 2022    1500
 Thursday, 06 January 2022     1500
 Friday, 07 January 2022       1500
 Tuesday, 11 January 2022      1500
 Thursday, 13 January 2022     1500
Name: Kurwitu Ventures, Length: 107, dtype: object

In [8]:
df['Kurwitu Ventures']

Date
 Thursday, 13 May 2021         1500.00
 Friday, 21 May 2021           1500.00
 Tuesday, 25 May 2021          1500.00
 Monday, 19 July 2021          1500.00
 Tuesday, 27 July 2021         1500.00
                                ...
 Wednesday, 05 January 2022    1500.00
 Thursday, 06 January 2022     1500.00
 Friday, 07 January 2022       1500.00
 Tuesday, 11 January 2022      1500.00
 Thursday, 13 January 2022     1500.00
Name: Kurwitu Ventures, Length: 107, dtype: object

In [9]:
df['Kurwitu Ventures'] = df['Kurwitu Ventures'].apply(lambda x: x.split('.')[0])
df['Kurwitu Ventures'].head()

Date
 Thursday, 13 May 2021    1500
 Friday, 21 May 2021      1500
 Tuesday, 25 May 2021     1500
 Monday, 19 July 2021     1500
 Tuesday, 27 July 2021    1500
Name: Kurwitu Ventures, dtype: object

In [12]:
df['Kurwitu Ventures'].astype(np.float64)

Date
 Thursday, 13 May 2021         1500.0
 Friday, 21 May 2021           1500.0
 Tuesday, 25 May 2021          1500.0
 Monday, 19 July 2021          1500.0
 Tuesday, 27 July 2021         1500.0
                                ...
 Wednesday, 05 January 2022    1500.0
 Thursday, 06 January 2022     1500.0
 Friday, 07 January 2022       1500.0
 Tuesday, 11 January 2022      1500.0
 Thursday, 13 January 2022     1500.0
Name: Kurwitu Ventures, Length: 107, dtype: float64

In [13]:
df['Kurwitu Ventures'] = df['Kurwitu Ventures'].astype(np.float64)
df['Kurwitu Ventures'].head()

Date
 Thursday, 13 May 2021    1500.0
 Friday, 21 May 2021      1500.0
 Tuesday, 25 May 2021     1500.0
 Monday, 19 July 2021     1500.0
 Tuesday, 27 July 2021    1500.0
Name: Kurwitu Ventures, dtype: float64

In [11]:
np.float64

numpy.float64

In [14]:
df.head()

,Eaagads Ltd Ord 1.25 AIMS,Kakuzi Ord.5.00,Limuru Tea Co. Ltd Ord 20.00,Sasini Ltd Ord 1.00,Williamson Tea Kenya Ltd Ord 5.00,Car and General (K) Ltd Ord 5.00,Absa Bank Kenya PLC,BK Group PLC,Diamond Trust Bank Kenya Ltd Ord 4.00,Equity Group Holdings Ord 0.50,...,British American Tobacco Kenya Ltd Ord 10.00,Carbacid Investments Ltd Ord 5.00,East African Breweries Ltd Ord 2.00,Eveready East Africa Ltd Ord.1.00,Flame Tree Group Holdings Ltd Ord 0.825,Kenya Orchards Ltd Ord 5.00,Mumias Sugar Co. Ltd Ord 2.00,Unga Group Ltd Ord 5.00,Safaricom PLC Ord 0.05,Stanlib Fahari I-REIT
Date,,,,,,,,,,,,,,,,,,,,,
"Thursday, 13 May 2021",15.0,360.00,340.0,18.80,146.75,20.5,8.80,26.0,65.00,40.95,...,471.00,10.90,172.25,1.09,1.41,10.4,0.27,31.8,39.40,6.10
"Friday, 21 May 2021",15.0,360.00,340.0,18.55,145.00,22.0,9.10,26.0,63.75,41.50,...,470.00,10.40,174.00,1.04,1.35,10.4,0.27,28.0,39.50,5.98
"Tuesday, 25 May 2021",15.0,360.00,340.0,18.40,145.00,24.2,9.22,26.0,63.25,42.05,...,464.75,10.15,181.00,0.99,1.40,10.4,0.27,28.0,42.75,5.96
"Monday, 19 July 2021",11.0,372.75,290.0,19.20,152.25,31.0,10.00,28.0,69.00,48.55,...,445.00,12.00,187.75,1.04,1.32,10.4,0.27,27.1,42.60,6.66
"Tuesday, 27 July 2021",11.5,410.00,280.0,19.95,134.00,35.2,9.74,29.0,66.25,48.50,...,469.50,12.05,184.00,1.01,1.33,10.4,0.27,29.0,41.80,6.94

#### Arrange Data in Chronological Order

The most recent date should be on lower index.

We have to reverse the dataframe

In [39]:
df[::-1]

,EGAD,KUKZ,LIMT,SASN,WTK,CGEN,ABSA,BKG,DTK,EQTY,...,BAT,CARB,EABL,EVRD,FTGH,ORCH,MSC,UNGA,SCOM,FAHR
Date,,,,,,,,,,,,,,,,,,,,,
2021-05-13,15.00,360.00,340.0,18.80,146.75,20.50,8.80,26.00,65.00,40.95,...,471.00,10.90,172.25,1.09,1.41,10.4,0.27,31.80,39.40,6.10
2021-05-21,15.00,360.00,340.0,18.55,145.00,22.00,9.10,26.00,63.75,41.50,...,470.00,10.40,174.00,1.04,1.35,10.4,0.27,28.00,39.50,5.98
2021-05-25,15.00,360.00,340.0,18.40,145.00,24.20,9.22,26.00,63.25,42.05,...,464.75,10.15,181.00,0.99,1.40,10.4,0.27,28.00,42.75,5.96
2021-07-19,11.00,372.75,290.0,19.20,152.25,31.00,10.00,28.00,69.00,48.55,...,445.00,12.00,187.75,1.04,1.32,10.4,0.27,27.10,42.60,6.66
2021-07-27,11.50,410.00,280.0,19.95,134.00,35.20,9.74,29.00,66.25,48.50,...,469.50,12.05,184.00,1.01,1.33,10.4,0.27,29.00,41.80,6.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-05,12.85,420.00,320.0,19.95,130.75,30.60,11.75,29.50,59.75,53.00,...,442.00,10.90,163.75,0.99,1.26,10.4,0.27,27.65,39.55,6.02
2022-01-06,13.80,420.00,320.0,20.25,130.75,33.70,11.80,29.30,60.00,53.00,...,442.00,10.90,160.75,0.99,1.29,10.4,0.27,27.65,40.00,6.40
2022-01-07,13.80,420.00,320.0,21.25,132.00,37.05,11.80,29.05,60.00,53.00,...,442.00,10.90,164.75,0.94,1.30,10.4,0.27,27.65,39.90,6.38
2022-01-11,13.80,385.00,320.0,20.55,134.75,44.75,11.90,30.75,59.50,52.00,...,445.00,10.85,161.00,0.88,1.31,10.4,0.27,27.65,38.45,6.56
2022-01-13,12.90,385.00,320.0,22.20,130.00,54.00,11.80,30.00,59.00,49.55,...,440.00,10.80,151.50,0.96,1.34,10.4,0.27,27.10,37.95,6.52

#### Convert From String to pandas datetime

the pandas method `pd.to_datetime()`

#####  Date Formats Using datetime module

[Format Codes](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)

In [32]:
df.index

Index([' Thursday, 13 January 2022', ' Tuesday, 11 January 2022',
       ' Friday, 07 January 2022', ' Thursday, 06 January 2022',
       ' Wednesday, 05 January 2022', ' Tuesday, 04 January 2022',
       ' Monday, 03 January 2022', ' Friday, 31 December 2021',
       ' Thursday, 30 December 2021', ' Wednesday, 29 December 2021',
       ...
       ' Monday, 09 August 2021', ' Friday, 06 August 2021',
       ' Thursday, 05 August 2021', ' Wednesday, 04 August 2021',
       ' Tuesday, 03 August 2021', ' Tuesday, 27 July 2021',
       ' Monday, 19 July 2021', ' Tuesday, 25 May 2021',
       ' Friday, 21 May 2021', ' Thursday, 13 May 2021'],
      dtype='object', name='Date', length=107)

In [34]:
df.index = df.index.str.lstrip()
df.index

Index(['Thursday, 13 January 2022', 'Tuesday, 11 January 2022',
       'Friday, 07 January 2022', 'Thursday, 06 January 2022',
       'Wednesday, 05 January 2022', 'Tuesday, 04 January 2022',
       'Monday, 03 January 2022', 'Friday, 31 December 2021',
       'Thursday, 30 December 2021', 'Wednesday, 29 December 2021',
       ...
       'Monday, 09 August 2021', 'Friday, 06 August 2021',
       'Thursday, 05 August 2021', 'Wednesday, 04 August 2021',
       'Tuesday, 03 August 2021', 'Tuesday, 27 July 2021',
       'Monday, 19 July 2021', 'Tuesday, 25 May 2021', 'Friday, 21 May 2021',
       'Thursday, 13 May 2021'],
      dtype='object', name='Date', length=107)

In [35]:
pd.to_datetime(df.index,format='%A, %d %B %Y')

DatetimeIndex(['2022-01-13', '2022-01-11', '2022-01-07', '2022-01-06',
               '2022-01-05', '2022-01-04', '2022-01-03', '2021-12-31',
               '2021-12-30', '2021-12-29',
               ...
               '2021-08-09', '2021-08-06', '2021-08-05', '2021-08-04',
               '2021-08-03', '2021-07-27', '2021-07-19', '2021-05-25',
               '2021-05-21', '2021-05-13'],
              dtype='datetime64[ns]', name='Date', length=107, freq=None)

In [36]:
df.index = pd.to_datetime(df.index,format='%A, %d %B %Y')
df.head()

,EGAD,KUKZ,LIMT,SASN,WTK,CGEN,ABSA,BKG,DTK,EQTY,...,BAT,CARB,EABL,EVRD,FTGH,ORCH,MSC,UNGA,SCOM,FAHR
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-13,12.90,385.0,320.0,22.20,130.00,54.00,11.80,30.00,59.00,49.55,...,440.0,10.80,151.50,0.96,1.34,10.4,0.27,27.10,37.95,6.52
2022-01-11,13.80,385.0,320.0,20.55,134.75,44.75,11.90,30.75,59.50,52.00,...,445.0,10.85,161.00,0.88,1.31,10.4,0.27,27.65,38.45,6.56
2022-01-07,13.80,420.0,320.0,21.25,132.00,37.05,11.80,29.05,60.00,53.00,...,442.0,10.90,164.75,0.94,1.30,10.4,0.27,27.65,39.90,6.38
2022-01-06,13.80,420.0,320.0,20.25,130.75,33.70,11.80,29.30,60.00,53.00,...,442.0,10.90,160.75,0.99,1.29,10.4,0.27,27.65,40.00,6.40
2022-01-05,12.85,420.0,320.0,19.95,130.75,30.60,11.75,29.50,59.75,53.00,...,442.0,10.90,163.75,0.99,1.26,10.4,0.27,27.65,39.55,6.02

In [37]:
df.to_csv('clean_stock_data.csv')

### Simple plot using `plot()`

#### Subsetting the DataFrame to only include dates after August 2021

In [ ]:
df2 = df.loc['2021-08-03':]

### Save DataFrame to file

> `df.to_csv('file_name.csv', index=False)`

In [40]:
df.head()

,EGAD,KUKZ,LIMT,SASN,WTK,CGEN,ABSA,BKG,DTK,EQTY,...,BAT,CARB,EABL,EVRD,FTGH,ORCH,MSC,UNGA,SCOM,FAHR
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-13,12.90,385.0,320.0,22.20,130.00,54.00,11.80,30.00,59.00,49.55,...,440.0,10.80,151.50,0.96,1.34,10.4,0.27,27.10,37.95,6.52
2022-01-11,13.80,385.0,320.0,20.55,134.75,44.75,11.90,30.75,59.50,52.00,...,445.0,10.85,161.00,0.88,1.31,10.4,0.27,27.65,38.45,6.56
2022-01-07,13.80,420.0,320.0,21.25,132.00,37.05,11.80,29.05,60.00,53.00,...,442.0,10.90,164.75,0.94,1.30,10.4,0.27,27.65,39.90,6.38
2022-01-06,13.80,420.0,320.0,20.25,130.75,33.70,11.80,29.30,60.00,53.00,...,442.0,10.90,160.75,0.99,1.29,10.4,0.27,27.65,40.00,6.40
2022-01-05,12.85,420.0,320.0,19.95,130.75,30.60,11.75,29.50,59.75,53.00,...,442.0,10.90,163.75,0.99,1.26,10.4,0.27,27.65,39.55,6.02

In [41]:
df.to_csv('cleaned_stock.csv')

### Customizing Plots

#### Customize Size

#### Customize color

#### Multiple Line Plots

### Change Ticker Names

In [20]:
tickers = ['EGAD','KUKZ','LIMT',
           'SASN','WTK', 'CGEN',
           'ABSA','BKG','DTK',
           'EQTY','HFCK','IMH', 
           'KCB','NBK', 'NCBA',
           'SBIC','SCBK','COOP',
           'XPRS','KQ','LKL',
           'NBV', 'NMG','SMER',
           'SCAN','SGL','TPSE',
           'UCHM','ARM','BAMB',
           'CRWN','CABL','PORT',
           'KEGN','KPLC','TOTL',
           'UMME','BRIT','CIC',
           'JUB','KNRE','LBTY', 
           'SLAM','CTUM','HAFR',
           'KURV','OCH','TCL',
           'NSE','BOC','BAT',
           'CARB','EABL','EVRD',
           'FTGH','ORCH', 'MSC',
           'UNGA','SCOM','FAHR']

tickers

['EGAD',
 'KUKZ',
 'LIMT',
 'SASN',
 'WTK',
 'CGEN',
 'ABSA',
 'BKG',
 'DTK',
 'EQTY',
 'HFCK',
 'IMH',
 'KCB',
 'NBK',
 'NCBA',
 'SBIC',
 'SCBK',
 'COOP',
 'XPRS',
 'KQ',
 'LKL',
 'NBV',
 'NMG',
 'SMER',
 'SCAN',
 'SGL',
 'TPSE',
 'UCHM',
 'ARM',
 'BAMB',
 'CRWN',
 'CABL',
 'PORT',
 'KEGN',
 'KPLC',
 'TOTL',
 'UMME',
 'BRIT',
 'CIC',
 'JUB',
 'KNRE',
 'LBTY',
 'SLAM',
 'CTUM',
 'HAFR',
 'KURV',
 'OCH',
 'TCL',
 'NSE',
 'BOC',
 'BAT',
 'CARB',
 'EABL',
 'EVRD',
 'FTGH',
 'ORCH',
 'MSC',
 'UNGA',
 'SCOM',
 'FAHR']

In [21]:
# update ticker names for df
df.columns = tickers

In [22]:
df.columns

Index(['EGAD', 'KUKZ', 'LIMT', 'SASN', 'WTK', 'CGEN', 'ABSA', 'BKG', 'DTK',
       'EQTY', 'HFCK', 'IMH', 'KCB', 'NBK', 'NCBA', 'SBIC', 'SCBK', 'COOP',
       'XPRS', 'KQ', 'LKL', 'NBV', 'NMG', 'SMER', 'SCAN', 'SGL', 'TPSE',
       'UCHM', 'ARM', 'BAMB', 'CRWN', 'CABL', 'PORT', 'KEGN', 'KPLC', 'TOTL',
       'UMME', 'BRIT', 'CIC', 'JUB', 'KNRE', 'LBTY', 'SLAM', 'CTUM', 'HAFR',
       'KURV', 'OCH', 'TCL', 'NSE', 'BOC', 'BAT', 'CARB', 'EABL', 'EVRD',
       'FTGH', 'ORCH', 'MSC', 'UNGA', 'SCOM', 'FAHR'],
      dtype='object')

In [19]:
df['KURV']

Date
 Thursday, 13 May 2021         1500.0
 Friday, 21 May 2021           1500.0
 Tuesday, 25 May 2021          1500.0
 Monday, 19 July 2021          1500.0
 Tuesday, 27 July 2021         1500.0
                                ...
 Wednesday, 05 January 2022    1500.0
 Thursday, 06 January 2022     1500.0
 Friday, 07 January 2022       1500.0
 Tuesday, 11 January 2022      1500.0
 Thursday, 13 January 2022     1500.0
Name: KURV, Length: 107, dtype: float64

In [23]:
df['NBK']

Date
 Thursday, 13 May 2021         4.12
 Friday, 21 May 2021           4.12
 Tuesday, 25 May 2021          4.12
 Monday, 19 July 2021          4.12
 Tuesday, 27 July 2021         4.12
                               ...
 Wednesday, 05 January 2022    4.12
 Thursday, 06 January 2022     4.12
 Friday, 07 January 2022       4.12
 Tuesday, 11 January 2022      4.12
 Thursday, 13 January 2022     4.12
Name: NBK, Length: 107, dtype: float64

In [24]:
df.drop('NBK',axis='columns')

,EGAD,KUKZ,LIMT,SASN,WTK,CGEN,ABSA,BKG,DTK,EQTY,...,BAT,CARB,EABL,EVRD,FTGH,ORCH,MSC,UNGA,SCOM,FAHR
Date,,,,,,,,,,,,,,,,,,,,,
"Thursday, 13 May 2021",15.00,360.00,340.0,18.80,146.75,20.50,8.80,26.00,65.00,40.95,...,471.00,10.90,172.25,1.09,1.41,10.4,0.27,31.80,39.40,6.10
"Friday, 21 May 2021",15.00,360.00,340.0,18.55,145.00,22.00,9.10,26.00,63.75,41.50,...,470.00,10.40,174.00,1.04,1.35,10.4,0.27,28.00,39.50,5.98
"Tuesday, 25 May 2021",15.00,360.00,340.0,18.40,145.00,24.20,9.22,26.00,63.25,42.05,...,464.75,10.15,181.00,0.99,1.40,10.4,0.27,28.00,42.75,5.96
"Monday, 19 July 2021",11.00,372.75,290.0,19.20,152.25,31.00,10.00,28.00,69.00,48.55,...,445.00,12.00,187.75,1.04,1.32,10.4,0.27,27.10,42.60,6.66
"Tuesday, 27 July 2021",11.50,410.00,280.0,19.95,134.00,35.20,9.74,29.00,66.25,48.50,...,469.50,12.05,184.00,1.01,1.33,10.4,0.27,29.00,41.80,6.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Wednesday, 05 January 2022",12.85,420.00,320.0,19.95,130.75,30.60,11.75,29.50,59.75,53.00,...,442.00,10.90,163.75,0.99,1.26,10.4,0.27,27.65,39.55,6.02
"Thursday, 06 January 2022",13.80,420.00,320.0,20.25,130.75,33.70,11.80,29.30,60.00,53.00,...,442.00,10.90,160.75,0.99,1.29,10.4,0.27,27.65,40.00,6.40
"Friday, 07 January 2022",13.80,420.00,320.0,21.25,132.00,37.05,11.80,29.05,60.00,53.00,...,442.00,10.90,164.75,0.94,1.30,10.4,0.27,27.65,39.90,6.38
"Tuesday, 11 January 2022",13.80,385.00,320.0,20.55,134.75,44.75,11.90,30.75,59.50,52.00,...,445.00,10.85,161.00,0.88,1.31,10.4,0.27,27.65,38.45,6.56
"Thursday, 13 January 2022",12.90,385.00,320.0,22.20,130.00,54.00,11.80,30.00,59.00,49.55,...,440.00,10.80,151.50,0.96,1.34,10.4,0.27,27.10,37.95,6.52

In [30]:
df = df[::-1].copy()
df.head()

,EGAD,KUKZ,LIMT,SASN,WTK,CGEN,ABSA,BKG,DTK,EQTY,...,BAT,CARB,EABL,EVRD,FTGH,ORCH,MSC,UNGA,SCOM,FAHR
Date,,,,,,,,,,,,,,,,,,,,,
"Thursday, 13 January 2022",12.90,385.0,320.0,22.20,130.00,54.00,11.80,30.00,59.00,49.55,...,440.0,10.80,151.50,0.96,1.34,10.4,0.27,27.10,37.95,6.52
"Tuesday, 11 January 2022",13.80,385.0,320.0,20.55,134.75,44.75,11.90,30.75,59.50,52.00,...,445.0,10.85,161.00,0.88,1.31,10.4,0.27,27.65,38.45,6.56
"Friday, 07 January 2022",13.80,420.0,320.0,21.25,132.00,37.05,11.80,29.05,60.00,53.00,...,442.0,10.90,164.75,0.94,1.30,10.4,0.27,27.65,39.90,6.38
"Thursday, 06 January 2022",13.80,420.0,320.0,20.25,130.75,33.70,11.80,29.30,60.00,53.00,...,442.0,10.90,160.75,0.99,1.29,10.4,0.27,27.65,40.00,6.40
"Wednesday, 05 January 2022",12.85,420.0,320.0,19.95,130.75,30.60,11.75,29.50,59.75,53.00,...,442.0,10.90,163.75,0.99,1.26,10.4,0.27,27.65,39.55,6.02

In [31]:
df.tail()

,EGAD,KUKZ,LIMT,SASN,WTK,CGEN,ABSA,BKG,DTK,EQTY,...,BAT,CARB,EABL,EVRD,FTGH,ORCH,MSC,UNGA,SCOM,FAHR
Date,,,,,,,,,,,,,,,,,,,,,
"Tuesday, 27 July 2021",11.5,410.00,280.0,19.95,134.00,35.2,9.74,29.0,66.25,48.50,...,469.50,12.05,184.00,1.01,1.33,10.4,0.27,29.0,41.80,6.94
"Monday, 19 July 2021",11.0,372.75,290.0,19.20,152.25,31.0,10.00,28.0,69.00,48.55,...,445.00,12.00,187.75,1.04,1.32,10.4,0.27,27.1,42.60,6.66
"Tuesday, 25 May 2021",15.0,360.00,340.0,18.40,145.00,24.2,9.22,26.0,63.25,42.05,...,464.75,10.15,181.00,0.99,1.40,10.4,0.27,28.0,42.75,5.96
"Friday, 21 May 2021",15.0,360.00,340.0,18.55,145.00,22.0,9.10,26.0,63.75,41.50,...,470.00,10.40,174.00,1.04,1.35,10.4,0.27,28.0,39.50,5.98
"Thursday, 13 May 2021",15.0,360.00,340.0,18.80,146.75,20.5,8.80,26.0,65.00,40.95,...,471.00,10.90,172.25,1.09,1.41,10.4,0.27,31.8,39.40,6.10

### Subplots

#### One row two plots

#### Customize subplots

## Compare banking sector stock prices on subplots

##### The Repetitive way

#### Using a `for loop`

## Challenges:

Your challenge is to plot stock performance for the Insurance sector. 

`'BRIT':'SLAM'`

In [ ]:
### Your Solution Here



##